#lina {
    position: fixed;
    margin-left: 85%;
    margin-top: 32%;
    transition: 2s ease;
    img {
        width: 100px;
        height: 300px;
    }
    label {
        position: fixed;
        background-color: lightskyblue;
        align-content: center;
        text-align: center;
        border-radius: 20px 20px 0px 20px;
        margin-left: -250%;
        margin-top: 250%;
        height: 30px;
        width: 200px;
        opacity: 0;
        transition: 2s ease;
        rotate: -90deg;
    }
}